includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - phpstan-baseline.neon

rules:
    - PHPStan\Rules\DeadCode\UnreachableStatementRule
    - PHPStan\Rules\DeadCode\UnusedPrivateConstantRule
    - PHPStan\Rules\DeadCode\UnusedPrivateMethodRule

parameters:
    level: 4
    treatPhpDocTypesAsCertain: false
    paths:
        - app
    ignoreErrors:
    excludePaths:
        - app/Repositories
        - app/Extensions/Spatie/Fractalistic/Fractal.php
